/* breakpoints: 768px, 1024px */

* {
    box-sizing: content-box;
    margin: 0;
    padding: 0;
    outline: 1px solid red;
}

nav {
    width: calc(100vw - 48px);
    height: 56px;
    padding-left: 48px;
    position: fixed;
    top: 0;
}

nav>img {
    width: 48px;
    height: 56px;
    object-fit: cover;
    object-position: -18% 16px;
    position: absolute;
    left: 0;
}

nav>svg {
    width: 66px;
    height: 16px;
    position: relative;
    top: 20px;
}

.showcase-header {
    margin-top: 56px;
    padding-top: 32px;
    width: 100vw;
    /* display: flex; */
    /* overflow-x: scroll; */
}

.showcase-header>svg {
    width: 349px;
    height: 87px;
    display: block;
    margin: auto;
}

.showcase-header>h1 {
    text-align: center;
    margin-bottom: 16px;
}


/* .showcase-header>div {} */

.showcase-article {
    width: 100vw;
    padding: 16px 0;
}

.popular-articles {
    width: 100vw;
    padding: 48px 0;
}

.latest-stories {
    width: 100vw;
    padding: 64px 0;
}

.explore-channels {
    width: 100vw;
    padding: 64px 0;
}

.newsletter {
    width: calc(100vw - 128px);
    padding: 64px;
}

.watch {
    width: 100vw;
    padding: 64px 0;
}

.work-with-us {
    width: 100vw;
    padding: 96px 0 32px;
}

footer {
    width: 100vw;
    padding: 64px 0;
}